.contain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
}
.searchBarContainer{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.searchBarContainer input{
    outline: none;
    border: none;
    width: 30%;
    text-align: center;
    box-shadow: 0 0 0.2rem white;
}
.searchBarContainer i{
    margin-left: 3px;
}
.searchResultContainer{
    flex: 3;
    /* padding-top: 10px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-columns: fit-content(400px);
    gap: 20px;
    justify-content: center;*/
    padding-top: 10px;
    overflow-y: auto; 
}
.searchResultContainer::-webkit-scrollbar{
    width: 1vw;
    border-radius: 100vw;
}
.searchResultContainer::-webkit-scrollbar-track{
    background-color: var(--white);
    border-color: var(--lightGreen);
    border-radius: 100vw;

}
.searchResultContainer::-webkit-scrollbar-thumb{
    background-color: var(--darkGreen);
    border-radius: 100vw;
}
.spacer {
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
}
.spacer:hover {
    color: white;
}
