@font-face {
  font-family: comforta;
  src: url(./assets/fonts/comforta.ttf);
}



body {
  margin: 0;
  font-family: comforta;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --darkGreen: #1db954;
  --lightGreen: #1ed760;
  --white: #ffffff;
  --black: #191414;
}